# IDE
.idea/
*.iml

*.log
.env

# Скомпилированные файлы
target/
*.class
*.jar
!backend/.mvn/wrapper/maven-wrapper.jar

# Системные файлы
.DS_Store
Thumbs.db

# Node (если бы использовался)
node_modules/